/* Hero Section */
#hero {
    background-image: url('PT\ BG.jpg');
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

/* Hero Section Text */
#hero h1 {
    font-size: 3rem;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
    color: black;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

/* About Section */
#about img {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    transition: transform 0.3s ease-in-out;
}

#about img:hover {
    transform: scale(1.1);
}

/* Projects Section */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    background-color: white;
}

/* Contact */
#contact {
    margin-bottom: 100px; /* Adds space between button and footer */
    padding-bottom: 120px; /* Adds space for the footer */
}

/* Keyframes for FadeIn Effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Ensures the footer stays at the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}
